
#container {
    width: 1100px;
    margin:0 auto !important;
}

#container-inside {
    margin-top:100px;
}

.ll {
    color:#808080;
}

.current-date {
    color:#808080;
}

div.current-weather {
    height:380px;
    width: 600px;
    margin: 0 auto !important;
}

div.weather-icon-wrapper{
    float:left;
    width:50%;
    text-align: center;
}

div.weather-temp-wrapper{
    float:right;
    width:50%;
    text-align:center;
}

.current-weather-icon {
    width:250px;
    /* margin-top:130px; */
}

.current-weather-temp {
    font-size:200px;
    margin:0;
}


/* Temperature colors START */
.temperature-color-p25 { color: #FF49D1 }
.temperature-color-p23 { color: #FF4C5C }
.temperature-color-p20 { color: #FF0000  }
.temperature-color-p17 { color: #F35F00 }
.temperature-color-p14 { color: #FF902B }
.temperature-color-p11 { color: #FFCD52 }
.temperature-color-p8 { color: #FCFF00 }
.temperature-color-p5 { color: #90C24D }
.temperature-color-p3 { color: #6C9930 }
.temperature-color-0 { color: #008482 }
.temperature-color-m0 { color: #C1D8F3 }
.temperature-color-m3 { color: #84B2E6 }
.temperature-color-m5 { color: #4489DA }
.temperature-color-m8 { color: #2B5D96 }
.temperature-color-m10 { color: #00AEC9 }
.temperature-color-m13 { color: #B69BC9 }
.temperature-color-m16 { color: #66427C }
.temperature-color-m19 { color: #8E0083 }
.temperature-color-m25 { color: #141518 }

/* Temperature colors END */

table#weather-locations {
    border-collapse: collapse; 
    margin:0 auto;
    font-size:20px;
}

table#weather-locations tr th,
table#weather-locations tr td {
    border: 1px solid #e3e3e3;
    padding: 2px 10px;
}

.center {
    text-align: center;
}

table#weather-locations tr td img.weather-icon {
    width:50px;
}



