{% extends 'weather/_base.html' %}
{% load weather_tags %}

{% block body %}

<div id="container-inside">
    <h1 class="center">Weather</h1>

    <h2><a href="{% url 'country' 'Polska' %}"><small>Filter:</small> Polska</a></h2>

    {% if weather_objects != None %}
    <table id="weather-locations">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Weather</th>
                <th>Temperature</th>
                <th>Geographical Coordinates</th>
            </tr>
        </thead>
        <tbody>
            {% for weather in weather_objects %}
            <tr>
                <td>
                    {{ weather.id }}
                </td>
                <td>
                    <a href="{% if weather.city.geographical_coordinates != None %}
                    {% weather_coordinates_url weather.city.geographical_coordinates as coordinates %}
                    {% url 'other-location' coordinates.0 coordinates.1 %}
                {% else %}
                    {% url 'zielona-gora' %}
                {% endif %}
                ">
                        {{ weather.city.name }} <small>[{{ weather.city.country.name }}]</small>
                        <!-- <small>({{ weather.geographical_coordinates }}) </small> -->
                    </a>
                </td>
                <td class="center">
                    <img class="weather-icon" src="https://www.drops.live/assets/img/weather/{{ weather.icon }}.svg" />
                </td>
                <td class="center temperature-color-{% weather_color_html_class weather.temperature %}">
                    {{ weather.temperature }}&deg;
                </td>
                <td>
                    {{ weather.city.geographical_coordinates }}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock %}